@import '../../../assets/style/variables.scss';

.fr-nav{
  background-color: $primary !important; //
  border-bottom: 2px solid $amber !important;
  .navbar-brand{
    color: $amber !important;
    a{
      text-decoration: none !important;
      color: inherit;
    }
  }
  .btn, .btn-primary{ 
    border-color: $secondary;
    transition: .4s;
    &:hover{
      background-color: $amber !important;
      color: $primary !important;
    }
    &:active{
      background-color: $secondary !important;
      color: $primary !important;
    }
    a{
      text-decoration: none !important;
      color: inherit;
    }
  }
  .dropdown {
    padding: 0 !important;
    // .dropdown-menu{
    //   background-color: #f8f9fa !important;
    //   .dropdown-item{
    //     &:hover{
    //       background-color: $secondary  !important;
    //       // color: #f8f9fa;
    //     }
    //   }
    // }
    .dropdown-toggle{
      padding: 0 !important;
      .avatar {
        vertical-align: middle;
        width: 35px;
        border-radius: 50%;
        border: 2px solid gainsboro;
        transition: 1S;
      }
      .nav-link{
        padding: 0 !important;
        transition: 1S;
      }
      &:after{
       display: none !important;
     }
    }  
    .dropdown-menu{
      top: 110% !important;
      left: -110px !important;
      .dropdown-item{
        padding: .25rem .80rem !important;
      }
    }  
  }
}
