@import '../../../assets/style/variables.scss';

.em-projects{
  .overflow-auto{
    max-height: 75vh;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  a{
    color: $primary;
    text-decoration: none;
  }
}