@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  footer{
    background-color: $primary;
    color: $secondary;
    border-top: 1px solid $amber !important;

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 5px;  */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.page-title{
  border-left: 3px solid $amber;
  color: $primary !important;
}

.btn, .btn-primary { 
  background-color: $primary !important;
  border-width: 1.4px;
  border-color: $secondary !important;
  color: #f1f1f1 !important;
  transition: .4s !important;
  &:focus{
    box-shadow: none !important;
  }
  &:hover{
    background-color: rgba(61, 77, 124, 0.8) !important;
    border-color: $amber !important;
  }
  &:active{
    background-color: $amber !important;
    color: $primary !important;
    border-color: $primary !important;
  }
}

.link{
  text-decoration: none !important;
  color: $primary !important;
}

.form-control{
  border-color: $primary !important;
  outline-color: $amber !important;
  &:focus{
    border-color: rgb(196, 147, 0) !important;
    box-shadow: 0 0 0 0.12rem rgba(255, 193, 5, .5)  !important;
  }
  &::placeholder{
    color: $primary !important;
  }
}

.hover-shadow{
  &:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    // border-color: $primary !important;
  }
}

.icon-hover{
  &:hover{
    color: red;
  }
}

.pointer{
  cursor: pointer;
}