.admindash{
  .card{
    width: 170px;
    height: 160px !important;
    // flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1.3rem;
    cursor: pointer;
  }
  img{      
    display: block;
    width: 70px;
    height: 70px;
  }
  h4{
    // align-self: flex-end;
    margin-bottom: 1rem;
  }
}