@import '../../../assets/style/variables.scss'; 

.modal-dialog{
  margin-right: 15vw !important;
  margin-left: 15vw !important;
  height: 90vh;
  .modal-content{
    width: 70vw !important;
    // height: 93VH !important;
    .modal-body{
      max-height: 70vh;
      padding-right: 5%;
      padding-left: 5%;
      overflow: auto;
      .form-label{
        font-weight: bold;
      }
      textarea{
        height: 19vh;
      }
      // .skills-input:focus + .skills, .skills-input:invalid + .skills{
      //   display: block;
      // }
      .skills-list{
        // display: none;
        top: 38px !important;
        width: 75% !important;
        max-height: 150px !important;
        overflow-y: scroll !important;
        cursor: pointer;
        transition: 2s !important;
        z-index: 2;
        &::-webkit-scrollbar-track {
          background: #e9ecef;
        }
        .skill{
          background-color: #e9ecef !important;
          color: $primary !important;
        }
      }
    }
    .projectSum{
      ul{
        padding: 0;
        list-style: none;
        li{
          margin: .7rem 0;
          font-weight: 500;
          width: 95%;
        }
        .skills ul{
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          li{
            border: 1px solid gray;
            width: fit-content;
            padding: .1rem .5rem;
            margin: .3rem;
          }
        }
        
      }
    }
  }
}