@import '../../../assets/style/variables.scss';

.main-nav {
  background-color: $primary !important; //
  border-bottom: 2px solid $amber !important;
  .navbar-brand{
    color: $amber !important;
  }
  .nav-link{
    color: #f1f1f1 !important;
    // .icon{
    //   color: $amber;
    // }
    // span{
    //   color: #f1f1f1;
    // }
    &:hover{
      color: $amber !important;
    }
  }
  .active{
    color: $amber !important;
  }
  .navbar-nav{
    .btn, .btn-primary{ 
      border-color: $secondary;
      transition: .4s;
      &:hover{
        background-color: $secondary !important;
        color: $primary !important;
      }
    }
  }
  .navbar-collapse {
    flex-grow: 0 !important;
  }
}

